<!DOCTYPE html>
<html>
    <head>
        <title> Welcome to Jabs!</title>
    </head>
    <body>
        <h1> 전적 검색 로그 </h1>
        
        <table style="width:100%">
        <tr>
            <th>Name</th>
            <th>Win</th> 
            <th>Lose</th>
            <th>Search Time</th>
        </tr>
        <%=@table%>
       
        </table>
    </body>
</html>