<!DOCTYPE html>
<html>
    <head>
        <title> Welcome to Jabs!</title>
    </head>
    <body>
        <h1> 롤 전적 검색 </h1>
       
        <form action=/lolsearch> <!-- Action 으로 submit 된게 날리게 됨. -->
            LoL Rank
            <input type="text" name="userName">
            <input type="submit" value="Search"><br/>
        </form>
    </body>
</html>