<!DOCTYPE html>
<html>
    <head>
        <title> Welcome to Jabs!</title>
    </head>
    <body>
        <h1> <%= @name %> 님의 L.O.L 전적은</h1>
        <p> <%= @win%> / <%=@lose%> </p>
    </body>
</html>