<!DOCTYPE html>
<html>
    <head>
        <title> Lucky Lottery!</title>
    </head>
    <body>
        <h1>Today Lottery Number! </h1>
        <p> <%= @lotto %></p>
        <!--<p> <%= [*1..45].sample(6) %> -->
    </body>
</html>