<!DOCTYPE html>
<html>
    <head>
        <title> Recommand Lunch!</title>
    </head>
    <body>
        <h1> Lunch Menus </h1>
        <p> 오늘 당신이 먹을 점심은 : <%= @menu %></p>
        <img src="<%=@menuimg%>"/>
        <!--
        1. @menu 를 랜덤으로 추천된 메뉴가 지정되어 있다.
        2. @menu에 해당하는 사진을 저장해두고,
        3. @menu가 선택될 때 마다 @menu와 함께 사진을 보여준다.
        -->
      
    </body>
</html>